<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebProject_MYSQL</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SignupFilter</filter-name>
    <filter-class>com.Filter.SignupFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SignupFilter</filter-name>
    <url-pattern>/SignupController</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
   <listener>
    <listener-class>com.Listner.ServerLogListner</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordController</display-name>
    <servlet-name>ForgotPasswordController</servlet-name>
    <servlet-class>com.controller.ForgotPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordController</servlet-name>
    <url-pattern>/ForgotPasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTaskController</display-name>
    <servlet-name>AddTaskController</servlet-name>
    <servlet-class>com.controller.AddTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTaskController</servlet-name>
    <url-pattern>/AddTaskController</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AddTaskFilter</filter-name>
    <filter-class>com.Filter.AddTaskFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AddTaskFilter</filter-name>
    <url-pattern>/AddTaskController</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodoListController</display-name>
    <servlet-name>TodoListController</servlet-name>
    <servlet-class>com.controller.TodoListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoListController</servlet-name>
    <url-pattern>/TodoListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckScore</display-name>
    <servlet-name>CheckScore</servlet-name>
    <servlet-class>com.controller.CheckScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckScore</servlet-name>
    <url-pattern>/CheckScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTaskController</display-name>
    <servlet-name>DeleteTaskController</servlet-name>
    <servlet-class>com.controller.DeleteTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTaskController</servlet-name>
    <url-pattern>/DeleteTaskController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckQAController</display-name>
    <servlet-name>CheckQAController</servlet-name>
    <servlet-class>com.controller.CheckQAController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckQAController</servlet-name>
    <url-pattern>/CheckQAController</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CheckQAFilter</filter-name>
    <filter-class>com.Filter.CheckQAFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckQAFilter</filter-name>
    <url-pattern>/CheckQAController</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePasswordController</display-name>
    <servlet-name>UpdatePasswordController</servlet-name>
    <servlet-class>com.controller.UpdatePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordController</servlet-name>
    <url-pattern>/UpdatePasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusDoneController</display-name>
    <servlet-name>StatusDoneController</servlet-name>
    <servlet-class>com.controller.StatusDoneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusDoneController</servlet-name>
    <url-pattern>/StatusDoneController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTaskController</display-name>
    <servlet-name>UpdateTaskController</servlet-name>
    <servlet-class>com.controller.UpdateTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskController</servlet-name>
    <url-pattern>/UpdateTaskController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTaskByTaskId</display-name>
    <servlet-name>GetTaskByTaskId</servlet-name>
    <servlet-class>com.controller.GetTaskByTaskId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTaskByTaskId</servlet-name>
    <url-pattern>/GetTaskByTaskId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingListController</display-name>
    <servlet-name>PendingListController</servlet-name>
    <servlet-class>com.controller.PendingListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingListController</servlet-name>
    <url-pattern>/PendingListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoneListController</display-name>
    <servlet-name>DoneListController</servlet-name>
    <servlet-class>com.controller.DoneListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoneListController</servlet-name>
    <url-pattern>/DoneListController</url-pattern>
  </servlet-mapping>
</web-app>